<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hello!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>About Me</h1>
        <h2>นายกิตติรัตน์ ออมชมภู รหัสนักศึกษา 61114440052</h2>
        <h2>สาขาวิทยาการคอมพิวเตอร์ คณะวิทยาศาสตร์</h2>
        <p><a href="index" class="btn btn-primary">กลับสู่หน้าหลัก</a></p>
        <p><a href="insert"  class="btn btn-primary">กรอกข้อมูล</a></p>
        
        <img src="https://scontent.fubp1-1.fna.fbcdn.net/v/t1.0-9/56416916_2185295098257319_6289888087828856832_n.jpg?_nc_cat=107&_nc_oc=AQn9Y0kKwcjSN4Z62vUVt5wOZc7V8i7SOHOBl-BCaBudGHFoOmZS7QJE0SAySJRNVDQ&_nc_ht=scontent.fubp1-1.fna&oh=df9dd4cdd0f4c7295526ddf2c75715a3&oe=5E6468E2" style="width:640px;height:360px">
        <h5>ติดต่อได้ที่<a href="https://www.facebook.com/knablovecom">MyFaceBook</a></h5>
      </div>
    </div>

  </body>
</html>