<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hello!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Welcome to myweb</h1>
        <p><a href="aboutme" class="btn btn-primary">About me</a></p>
        <p><a href="insert"  class="btn btn-primary">กรอกข้อมูล</a></p>
        
        <img src="https://miro.medium.com/max/2016/1*kuvng5kzORzINwqDhah1Bw.jpeg" style="width:640px;height:360px">
        <h5>picture by <a href="https://www.google.com/search?q=We+love+Linux&rlz=1C1CHBF_enTH842TH842&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjVjJ650bTlAhXV6nMBHanHCjgQ_AUIEigB&biw=1745&bih=852&dpr=1.1#imgrc=_XEKZUrStA0IyM:">google img</a></h5>
      </div>
    </div>

  </body>
</html>